<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407077984071-m8pg069kdbtjh338nv0esn24c1th8tps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407077984071-m8pg069kdbtjh338nv0esn24c1th8tps</string>
	<key>API_KEY</key>
	<string>AIzaSyANbKc5bbAEiNJ7ZLg7iOQLSRzCtk1HCw0</string>
	<key>GCM_SENDER_ID</key>
	<string>407077984071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EasyCure</string>
	<key>PROJECT_ID</key>
	<string>easycureapp</string>
	<key>STORAGE_BUCKET</key>
	<string>easycureapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407077984071:ios:83b7b54a5b26ee96c81e62</string>
	<key>DATABASE_URL</key>
	<string>https://easycureapp.firebaseio.com</string>
</dict>
</plist>